.idea

data/*
!/data/.gitkeep

figure/*
!/figure/*.py
!figure/sim_docs/.gitkeep

word_cloud/*
!word_cloud/*.py
!word_cloud/documents/.gitkeep
!word_cloud/hdp_topics/.gitkeep
!word_cloud/lda_topics/.gitkeep
!word_cloud/sim_docs/.gitkeep



